django~=5.2.0
djangorestframework
django[argon2]
django-configurations 
django-debug-toolbar
django-filter
django-registration
dj-database-url
crispy-bootstrap5
drf-yasg # swagger
requests
djangorestframework-simplejwt
django-versatileimagefield
